 <nav class="navbar navbar-dark Header">
    <div class="container-lg">

      <section  fxLayout="row" fxLayoutAlign="default center">
        <mat-sidenav-container class="example-container bg-transparent hide-responsive-GT-md">
          <mat-sidenav-content>
            <p class="bg-transparent">
              <button mat-button (click)="Clicked()">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list pt-2" viewBox="0 0 16 16" style="color: #FFFFFF;">
                  <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg>
              </button>
            </p>
          </mat-sidenav-content>
        </mat-sidenav-container>

        <section fxLayoutAlign="center">
          <a class="navbar-brand" href="#" fxLayoutAlign="center"><img src="https://store.cloudflare.steamstatic.com/public/shared/images/responsive/header_logo.png" style="height: 36px;" alt="PIC"></a>
        </section>

        <section class="hide-responsive-LT-md">
          <span fxLayout="row">
            <a class="nav-item nav-link b-link" href="#">STORE</a>
          <a class="nav-link b-link" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">COMMUNITY</a>
          <ul class="dropdown-menu dropdown-menu-dark dropdown-menu" style="background-color: #171a21;border-radius: 0;box-shadow: 0 4px 8px 0 #171a21, 0 6px 20px 0 #171a21" aria-labelledby="navbarDarkDropdownMenuLink">
            <li><a class="dropdown-item bg-transparent link" href="#">Persian</a></li>
            <li><a class="dropdown-item bg-transparent link" href="#">Chinese</a></li>
            <li><a class="dropdown-item bg-transparent link" href="#">English</a></li>
          </ul>
          <a class="nav-item nav-link b-link" href="#">ABOUT</a>
          <a class="nav-item nav-link b-link" href="#">SUPPORT</a>
          </span>
        </section>

      </section>
      <section class="hide-responsive-LT-md">
        <span class="navbar" style="line-height: 2;">
          <a  class="nav-item nav-link" style="background-color: #5c7e10;font-weight: 400;margin-left: 1em;color: #FFFFFF;font-size: 12px;padding: 0 10px;" href="#" >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
              <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0zM9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1zm-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0z"/>
            </svg>
            Install Steam
          </a>
          <a class="nav-item nav-link link" href="#">login</a>
          <div class="dropdown">
            <a class="nav-link dropdown-toggle link" href="#" id="LanguageDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">language</a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" style="background-color: #171a21;border-radius: 0;box-shadow: 0 4px 8px 0 #171a21, 0 6px 20px 0 #171a21" aria-labelledby="LanguageDropdownMenuLink">
              <li><a class="dropdown-item bg-transparent link" href="#">Persian</a></li>
              <li><a class="dropdown-item bg-transparent link" href="#">Chinese</a></li>
              <li><a class="dropdown-item bg-transparent link" href="#">English</a></li>
            </ul>
          </div>
        </span>
      </section>
    </div>
  </nav>
