<div style="background-color: #171a21;width: 100%;height: 290px" fxLayout="column" fxLayoutAlign="center center">
    <span style="width: 910px;border-top: 1px solid #abb1b4;padding: 15px 0;" fxLayout="row" fxLayoutGap="15px">
        <img src="https://store.cloudflare.steamstatic.com/public/images/footerLogo_valve_new.png" style="width: 88px; height: 25px">
        <section style="line-height: 10px;" fxLayout="column"fxLayoutAlign="center center">
            <p class="greyT">© 2023 Valve Corporation. All rights reserved. All trademarks are property of their respective owners in the US and other countries.</p>

            <span class="greyT" fxLayout="row">VAT included in all prices where applicable.
                <a class="greyT nav-link">About Valve</a>
                <a class="greyT nav-link link">Legal</a>
                <a class="greyT nav-link link">Steam Subscriber Agreement</a>
                <a class="greyT nav-link link">Refunds</a>
                <a class="greyT nav-link link">Cookies</a>
            </span>

        </section>
        <img src="https://store.cloudflare.steamstatic.com/public/images/v6/logo_steam_footer.png" style="height: 26px;width: 92px;">
    </span>
    <span>
        <section fxLayout="row" fxLAyoutAlign="end" style="line-height: 10px; width: 100%;">
            <a class="greyT nav-link">Privacy Policy</a>
            <a class="greyT nav-link link">Jobs</a>
            <a class="greyT nav-link link">Steamworks</a>
            <a class="greyT nav-link link">Steam Distribution</a>
            <a class="greyT nav-link link">Gift</a>
            <a class="greyT nav-link link">Steam Subscriber Agreement</a>
            <a class="greyT nav-link link">Refunds</a>
            <a class="greyT nav-link link">Cookies</a>
        </section>
    </span>
</div>
