<body>
        <div class="signin" fxLayout="column" fxLayoutAlign="center center" style="height: 83%;">
            <span>
                <h1 class="whiteHead">
                    SIGN IN
                </h1>
            </span>
            <span style="width: 700px; height: 400px; background-color: #171a21; border-radius: 5px;display: grid;grid-template-columns: 2fr 1fr;">
                
                <Form style="margin: 20px 30px;" fxLayout="column" fxLayoutAlign="center">

                    <mat-form-field>
                        <span fxLayout="column" fxLayoutGap="5px">
                            <label>SIGN IN WITH ACCOUNT NAME</label>
                            <input matInput>
                        </span>
                    </mat-form-field>

                    <mat-form-field>
                        <span fxLayout="column" fxLayoutGap="5px">
                            <label  class="greyT">PASSWORD</label>
                            <input matInput type="password">
                        </span>
                    </mat-form-field>

                    <mat-checkbox class="example-margin greyT" color="primary">
                        Remember me
                    </mat-checkbox>
                    <span fxLayoutAlign="center center">
                        <button class="signButt whiteT" style="font-weight: 600;font-size: 18px;">
                            Sign in
                        </button>
                    </span>
                    <span fxLayoutAlign="center center">
                        <a class="greyT">Help, I can't sign in</a>
                    </span>
                    
                </Form>
                
                <section>

                </section>
            </span>

        </div>

        <div style="width: 100%;background-color: #171a21;">
            <div fxLayout.lt-sm="column" style="width: 100%;" fxLayoutAlign="center center">
                <span class="greyT" style="width: 200px;text-align: center;margin-top: 30px;">Join Steam and discover thousands of games to play
                    <a href="#" class="greyT nav-link" style="margin-top: 10px;">Learn More</a>
                </span>
                <img src="https://store.akamai.steamstatic.com/public/shared/images/login/join_pc.png?v=1" style="width: 200px;margin-top: 30px;">
                <span style="width: 200px;text-align: center;margin-top: 30px;">
                    <button id="JoinButt" class="whiteT bg-transparent btn" style="width: 110px;margin-bottom: 30px;">Join Steam</button>
                    <p class="greyT" style="margin-bottom: 20px;">It's free and easy to use</p>
                </span>
            </div>
        </div>

</body>