body
    height: 846px

input
    width: 350px
    height: 40px
    outline: none
    box-shadow: none
    background-color: #32353c
    border-radius: 2px
    color: white
    padding: 0 10px
label
    color:  #1861df
    font-weight: 500
    font-size: 13px

a:hover
    color: #FFFFFF

.whiteHead
    color: white
    font-weight: 200
    font-size: 30px
    margin-bottom: 35px

.signin
    background-image: url(https://store.cloudflare.steamstatic.com/public/shared/images/joinsteam/new_login_bg_strong_mask.jpg)
    backdrop-filter: brightness(50%) blur(2px) //problem
    height: 90%
    max-width: 100% 
    background-repeat: no-repeat 
    background-size: cover
    background-position: center center
    backdrop-filter: blur(2px)

.signButt
    background: rgb(0,198,255)
    background: linear-gradient(90deg, rgba(0,198,255,1) 0%, rgba(64,113,255,1) 78%)
    width: 250px
    height: 50px
    border-radius: 5px
    font-weight: 600
    font-size: 18px
    color: white

.input-G
    margin-top: 15px

.signButt:hover
    background: rgb(0,239,255)
    background: linear-gradient(90deg, rgba(0,239,255,1) 0%, rgba(64,110,255,1) 78%)

.form-control
    outline: none

.whiteT
    color: white
    font-weight: 400
    font-size: 13px

.greyT
    color: #abb1b4
    font-weight: 400
    font-size: 13px

#JoinButt
    border: 1px solid grey
    border-radius: 0px

#JoinButt:hover
    border: 1px solid white